@page "/admin"

<PageTitle>Admin</PageTitle>
<h1>Admin</h1>

<a class="btn btn-primary" href="admin_manage_users" role="button">Manage Users</a>
<br/><br/>

<!--
<a class="btn btn-primary" href="admin_manage_classes" role="button">Manage Classes</a>
<br/><br/>
-->
