@page "/response/{myvalue}"
@using BlazorServer.Models
@using BlazorServer.Authentication
@using System.Data
@using MySqlConnector
@using Dapper
@inject IJSRuntime js
@inject IConfiguration _config
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.SessionStorage.ISessionStorageService _currentSession

<PageTitle>Registracija</PageTitle>

@if (myvalue == "registered")
{
    <h1>Registration successful</h1>

    <a href="/listinstruments">Rent an instrument</a>
}
else if (myvalue == "unregistered")
{
    <h1>Registration cancelled</h1>
}






@code {
    [Parameter]
    public string myvalue { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

    }

    protected override void OnInitialized()
    {

    }

}